nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1001;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;

  .hover {
    transition: 0.2s ease-in-out;
    &:hover {
      color: $primLight;
    }
  }

  .logo {
    height: 80px;
  }

  .lang {
    position: relative;

    img {
      margin-right: 5px;
    }

    .content {
      position: absolute;
      background: #fff;
      display: none;
      flex-direction: column;
      gap: 10px;
      padding: 10px 10px 5px 10px;
      left: -10px;
      border-radius: 3px;

      &.drop {
        display: flex;
      }
    }
  }

  .links {
    display: flex;
    flex-direction: row;

    .hoverdown {
      position: relative;

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;

        a {
          font-size: 14px;
        }
      }

      &:hover .dropdown-content {
        display: block;
      }
    }

    a {
      display: block;
      border-bottom: 2px solid #ffffff00;
      color: inherit;
      padding: 10px;

      &:hover {
        border-color: $primLight;
      }
    }
  }
}

.hero {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-evenly;
  min-height: 85vh;
  position: relative;
  background: $shadowFilter;
  color: #fff;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;

    div {
      height: 100%;
      width: 100%;
      position: absolute;
      // transition: 0.4s;
    }
  }

  .greetings {
    p {
      font-size: 18px;
    }
  }

  .contact {
    form {
      width: 100%;

      h2 {
        font-size: 23px;
      }

      label {
        display: block;
        margin-top: 25px;
        margin-bottom: 5px;
      }

      input,
      textarea {
        width: 100%;
        border-radius: 6px;
        padding: 14px 24px;
        font-size: 1rem;
        border: none;
        outline: none;
      }

      button {
        border-radius: 6px;
        width: 100%;
        margin-top: 25px;
        background: $prim;
        padding: 14px 0;
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
  }
}

// }
