$prim: #2a7d2e;
$primLight: hsl(123, 88%, 47%);
$second: #192040;
$dark: #333333;
$shadowFilter: #19204090;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  color: inherit;
}

@import 'header', 'hero', 'about', 'statistics', 'benefits', 'facilities',
  'review';
