$prim: #723600;
$primLight: #956200;
$second: #192040;
$dark: #333333;
$shadowFilter: #19204090;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  color: inherit;
}

@import 'responsive';
@import 'header', 'hero', 'about', 'statistics', 'benefits', 'facilities',
  'review', 'tours', 'footer';

@import 'cart';
@import 'checkout';
