$prim: #2a7d2e;
$primLight: #0fe319;
$second: #192040;
$dark: #333333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

@import 'header';
